<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">

    <title>Registration</title>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-6 mx-auto">
            <form
                    method="post"
                    role="form"
                    th:action="@{/registration}"
                    th:object="${user}"
            >
                <h1>Registration Form</h1>
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        Registration successful !!!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text">
                    <p class="text-danger" th:errors="*{name}"
                       th:if="${#fields.hasErrors('name')}"></p>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" name="email" type="email">
                    <p class="text-danger" th:errors="*{email}"
                       th:if="${#fields.hasErrors('email')}"></p>
                </div>
                <div class="mb-3">
                    <label class="col-sm-2 col-form-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password">
                    <p class="text-danger" th:errors="*{password}"
                       th:if="${#fields.hasErrors('password')}"></p>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary mb-3" type="submit">Register</button>
                    or <a class="link-primary" th:href="@{/login}">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>